body {
    margin: 0;
    /* feel free to change/customize this gradient and font */
    background: linear-gradient(135deg, #4a4848 0%, #ffc3a0 100%);
    /* feel free to change/customize font */
    font-family: 'Arial', sans-serif;
    display: flex;
  flex-direction: column;
  align-items: center;

}

.flex-container {
    /* Make this into a flexbox using display: flex */
    /* Use flexbox properties to stack your tiles vertically and center them */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50vh;
  
}

.flex-tile {
    /* Make this into a flexbox using display: flex */
    /* Use flexbox properties to stack elements in your tiles vertically and center them */
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
  
    
  
    /* setting the width for each tile */
     width: 100%;

     
    /* spacing tiles */
    margin: 5%;
    padding: 20px;
    

    /* background color for tile, feel free to change */
   
    background-color: white;
    
}
/* Unique background colors */
.tile1 {
    background-color: rgb(120, 26, 26);
  }
  
  .tile2 {
    background-color: rgb(65, 65, 91);
  }
  
  .tile3 {
    background-color: rgb(79, 107, 79);
  }

  .Kyloren {
    max-width: 300px;
    height: auto;

  }

  .Spiderman {
    max-width: 300px;
    height: auto;
  }
  
  .Joker {
max-width: 300px;
height: auto;
  }
  




/* Tile hover animation */
.flex-tile:hover {
    background-color:white;
    cursor: pointer;
  }
  
  /* Button styles and animations */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5%;
    width: 100px;
    border: 3px dotted black;
    border-radius: 5px;
    background-color: #5a5858;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #a7a6a3;
    color: blueviolet;
    border: 3px solid blueviolet;
    transform: scale(1.50);
    cursor: pointer;
  }
  
  .btn:active {
    background-color: #000;
    transform: rotate(10deg);
  }

  /* Keyframe animation for tiles */
@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
  }
  
  .flex-tile:hover {
    animation: wiggle 0.4s ease-in-out;
  }
  
  /* Bonus audio button */
  .audioBtn {
    padding: 10px 15px;
    margin-top: 20px;
    border: 3px dotted black;
    border-radius: 5px;
    background-color: #454343;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
  }
  
  .audioBtn:hover {
    background-color: #a7a6a3;
    color: blueviolet;
    border: 3px solid blueviolet;
    transform: scale(1.50);
    cursor: pointer;
  }

    .audioBtn:active {
    background-color: #000;
    transform: rotate(10deg);

  }
  

  
  



